# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. Java Script

### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn
5. Scikit-learn

|Data Science Tools|
|------------------|
|Jupyter IDE    |
| RStudio         |
|Pycharm          |

### Below are a few examples of evaluatung arithmetic expressions in Python

In [11]:
# This a simple arithmetic expression to multiply then add integers 
(3*4)+5

17

In [13]:
# This will convert 200 minutes to hours by dividing by 60 
200/60

3.3333333333333335

# Objectives:
- Python
- Matlab
- Java
- Scala
- Julia
- SQL
- R

## Author
Ghazal Kamali